.assignment-head{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 808px;
    padding-top: 50px;
    
    
}
.assignment-div{
    text-align: right;
    position:absolute;
    padding-top: 150px;
    padding-right: 176px;
    padding-left: 866px;
    padding-bottom: 5px;
}
.assignment-div-h1{
    width: 866;
    height: 178;
    text-align: right;
}
.assignment-button{
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 15px;
    font-weight: bold;
}
/* Section One */
.section-one{
    display: flex;
    padding-top: 0px;
    gap: 50px;
    
   
}
.section-image{
    padding-left: 150px;
}
.section-one-description{
    padding-right: 150px;
    padding-top: 200px;
}
.section-one-h1{
    font-size: 40px;
}
.section-one-paragraph{
    padding-left: 15px;
}
/* Section two */
.section-two{
    text-align: center;
    width: 1142px;
    height: 300;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-two-h2{
    font-size: 50px;
    font-weight: 600;
}
.section-two-display{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding-top: 75px;
}

.section-two-h3{
    font-size: 30px;
    
}
.section-two-p{
    font-size: medium;
    color: gray;
    font-weight: 600;
    padding-top: 0px;
    
}